body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*backgound-image: url();*/
}

#canvas {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  /* box-sizing: border-box; */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}