/*
To deploy to GHPAGES all URL must be changed to the root "/this-is-not-battle-city/..."
*/

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/this-is-not-battle-city/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  padding: 10px;
  width: 140px;
  height: 50px;
  color: whitesmoke;
  font-family: 'Lucida Sans';
  font-weight: 600;
  font-size: 100%;
  border: 4px solid black;
  border-radius: 10%;
  background-image: url(/this-is-not-battle-city/metal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: appearance_button_normal;
  animation-duration: 0.8s;
}

button:hover {
  border: 4px solid blue;
}

.buttonLevel {
  padding: 0;
  width: 140px;
  height: 30px;
  animation-name: appearance_button_level;
  animation-duration: 0.8s;
}

#muteMusic {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0;
  max-width: 100px;
  height: 30px;
  font-weight: 100;
  font-size: 15px;
  animation: none;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0;
  padding: 0;
}

h4 {
  margin: 5px 0;
  padding: 0;
}

#canvas {
  width: 500px;
  height: 500px;
  background-color: black;
  border: 1px solid black;
  animation-name: appearance_canvas;
  animation-duration: 1.2s;
}

#container {
  margin-top: 20vh;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 200px;
  gap: 25px;
  background-color: black;
  background-image: url(/this-is-not-battle-city/metalplate_menu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: appearance_menu;
  animation-duration: 0.8s;
}

#level-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 300px;
  gap: 10px;
  background-color: black;
  background-image: url(/this-is-not-battle-city/metalplate_levels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: appearance_levels;
  animation-duration: 0.8s;
}

#controls-container {
  color: black;
  font-family: 'Lucida Sans';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 400px;
  background-color: black;
  background-image: url(/this-is-not-battle-city/metalplate_controls.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: appearance_controls;
  animation-duration: 0.8s;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: center;*/
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.enemy-types {
  gap: 20px !important;
}

.movement-container {
  gap: 5px !important;
}

.levelButtons {
  gap: 8px !important;
}

.hidden {
  display: none !important;
}

@keyframes appearance_canvas {
  from {
    height: 0;
  }

  to {
    height: 500px;
  }
}

@keyframes appearance_menu {
  from {
    height: 0;
  }

  to {
    height: 300px;
  }
}

@keyframes appearance_levels {
  from {
    height: 0;
  }

  to {
    height: 500px;
  }
}

@keyframes appearance_controls {
  from {
    height: 0;
  }

  to {
    height: 500px;
  }
}

@keyframes appearance_button_normal {
  from {
    height: 0;
  }

  to {
    height: 50px;
  }
}

@keyframes appearance_button_level {
  from {
    height: 0;
  }

  to {
    height: 30px;
  }
}